@charset "utf-8";

/* CSS Document for Addressbook*/

* {
	box-sizing: border-box;
}

body {
	color: white;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

h1 {
	color: #0575e6;
	font-size: 35px;
	font-family: 'Merriweather', serif;
	font-weight: 300;
}

h3 {
	font-size: 12px;
	margin: 0;
	padding: 0;
}

.search {
	background-color: light-grey;
	border: none;
	width: 100%;
	margin: 0;
}

#wrapper {
	padding-top: 20px;
	width: 700px;
	height: 600px;
	margin: auto;
}

#contactarea {
	background-image: linear-gradient(135deg, #0575e6, #00f260);
	padding: 25px;
	width: 700px;
	min-height: 400px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

#listarea {
	/*background-color: grey;*/
	position: relative;
	width: 30%;
	height: 545px;
	border: 1px solid white;
	margin-right: 25px;
	padding: 15px;
}

#contactlist {
	/*background-color: grey;*/
	width: 100%;
	height: 440px;
	overflow: auto;
}

#detailarea {
	padding: 15px;
	position: relative;
	width: 66%;
	height: 545px;
	align-self: right;
	border: 1px solid white;
	/**/
}

.addrLabel {
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 20px;
}

.addrContent {
	font-size: 18px;
	font-weight: 300;
}

.adressBlock {
	width: 100px;
	display: flex;
}

#close {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	background-color: white;
	color: #0575e6;
}

#buttons,
#add {
	position: absolute;
	bottom: 0;
	right: 0;
}

#overlay {
	color: #0575e6;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 99;
	background-color: white;
	height: 545px;
	width: 100%;
	text-align: center;
	line-height: 500px;
}

#userMessages {
	font-weight: bold;
	font-size: 14px;
	color: red;
}

.list span.cid {
	display: none;
}

#contactlist .list li {
	list-style-type: none;
	margin-left: -40px;
	border-bottom: 1px solid white;
	padding: 0.9em 0;
}

#contactlist .list ul {}

label,
input {
	display: block;
}

input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

div#users-contain {
	width: 350px;
	margin: 20px 0;
}

div#users-contain table {
	margin: 1em 0;
	border-collapse: collapse;
	width: 100%;
}

div#users-contain table td,
div#users-contain table th {
	border: 1px solid #eee;
	padding: .6em 10px;
	text-align: left;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.validateTips {
	border: 1px solid transparent;
	padding: 0.3em;
}


/* ******************* Scrollbar ***************************** */

.ps__rail-x,
.ps__rail-y {
	opacity: 0.8;
}